vti_encoding:SR|utf8-nl
vti_author:SR|Kaleem-PC\\Kaleem
vti_modifiedby:SR|Kaleem-PC\\Kaleem
vti_timelastmodified:TR|28 May 2015 08:04:40 -0000
vti_timecreated:TR|28 May 2015 08:04:40 -0000
vti_cacheddtm:TX|28 May 2015 08:04:40 -0000
vti_filesize:IR|10046
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{5C1413FB-58D7-4B31-ABE5-1F9997FFDE59}
vti_backlinkinfo:VX|index.php/home-static/index.htm
